body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  max-width: 55rem;
  margin: 0 auto;
}

header {
  color: white;
  padding: 1rem;
  text-align: left;
  background:#16416b;

}



nav ul li a {
  color: white;
  text-decoration: none;
  
}

nav ul,
footer nav ul {
  list-style: none;
  text-align: left;
}

nav ul li,
footer nav ul li {
  display: inline;
  margin-right: 1,2rem;
}

.navbar a:hover {
  background-color: rgb(85, 85, 196);

}

.News {
  background: steelblue;
  padding: 20px;
  margin-top: 10px;

  
}
.News p:last-of-type{
  text-align: center;
}
  

.News h1,
.News img {
  font-size: 24px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  
}

.News h2,
.News p {
  margin-top: 10px;
  font-size: 16px;
  color: white;
}

.inland,
.ausland {
  background: white;
  color: black;
  padding-top: 50px;
}

.inland h1,
.ausland h1 {
  font-size: 24px;
}

.inland h2,
.ausland h2,
.inland p,
.ausland p {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
  background: steelblue;
  
  
}

.Wladimir-Putin {
  padding: 20px;
  text-align: center;
  margin: 20px;
  background: lightblue;
  border-left: 10px solid dodgerblue;
  
  

}

.Wladimir-Putin img {
  width: 150px;
  position: relative;
  float: left;

  
}

.Adresse {
  padding-top: 20px;
  margin-bottom: 20px;
  font-style: normal;
  border-top: 1px solid #000;

}

footer {
  background: #16416b;
  color: #fff;
  padding: 10px 0;
  text-align: left;
}

.navbar1 a:hover {
  background-color: rgb(85, 85, 196);

}

footer nav ul li {
  color: #fff;
  margin-left: 10px;
}



